<nav class="navbar navbar-expand-md mx-3 mx-md-5 py-3 mb-3 mb-md-0">
  <div class="container-fluid d-flex align-items-center px-0">
    <!-- Navbar Toggler for Offcanvas -->
    <button class="navbar-toggler order-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars text-white"></i>
    </button>
    <!-- Logo -->
    <a class="navbar-brand me-0 d-md-block d-none" href="#">
      <i class="fa-solid fa-eye text-white"></i>
    </a>
    <!-- Search Form -->
    <form class="d-sm-flex d-none me-auto ms-3 search-bar" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
      <button class="btn" type="submit">
        <i class="fa-solid fa-search text-white"></i>
      </button>
    </form>

    <!-- Offcanvas Menu -->
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <li class="nav-item d-md-none">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active text-white" href="#">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Icons -->
    <div class="justify-content-end">
      <a href="#" class="nav-item ms-3 text-white text-decoration-none">
        <i class="fa-solid fa-heart"></i>
      </a>
      <a href="#" class="nav-item ms-3 text-white text-decoration-none">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
      <a href="#" class="nav-item ms-3 text-white text-decoration-none">
        <i class="fa-solid fa-user"></i>
      </a>
    </div>
  </div>
</nav>
<hr class="navbar-line mb-5 mx-3 mx-md-5 d-block" /> 
