/* NAVBAR */

.navbar {
  display: flex;
  background-color: black;
}

.navbar a {
  text-decoration: none;
}

.navbar-line {
  color: white;
  padding: 0px 20px;
}

/* @media (max-width: 460px) {
  .search-bar {
    display: none !important;
  }
} */

/* FOOTER */

.footer-link a {
  text-decoration: none;
  color: white;
}

.footer-line {
  border-top: 2px solid black;
}

@media (min-width: 768px) {
  .border-md-end {
    border-right: 2px solid;
  }
}
