/* GENERAL */
*,
*::before,
*::after {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

/* NAVBAR */

.navbar {
  display: flex;
  background-color: black;
}

.navbar-container {
  background-color: black;
  margin: 0px;
}

.navbar a {
  text-decoration: none;
}

.navbar-line {
  color: white;
  padding: 0px 20px;
}

/* @media (max-width: 460px) {
  .search-bar {
    display: none !important;
  }
} */

/* FOOTER */

.footer-link a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.footer-line {
  border: 1px solid;
  opacity: 1;
  margin: 0;
}

.footer-subscription-button {
  background-color: #d2b16e;
  padding: 0.375rem 0.75rem;
}

.footer-copyright {
  opacity: 1;
  color: black;
  font-size: 12px;
}

@media (min-width: 768px) {
  .border-md-end {
    border-right: 2px solid;
  }

  .footer-subscription-input {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .footer-subscription-title {
    font-size: 20px;
  }
}
