/* MAIN CONTENT */

.golden-compass {
  color: #d2b16e;
}

.main-content-brand-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* LOGIN PAGE */

.login-left {
  background-color: #d2b16e;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.login-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .login-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .login-logo i {
    font-size: 1.5rem;
  }

  .login-logo h4 {
    font-size: 1.5rem;
  }
}

@media (min-height: 992px) {
  .login-card {
    min-height: 700px;
  }
}

/* REGISTER PAGE */

.register-left {
  background-color: #d2b16e;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.register-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.register-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .register-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .register-logo i {
    font-size: 1.5rem;
  }

  .register-logo h4 {
    font-size: 1.5rem;
  }
}

@media (min-height: 992px) {
  .register-card {
    min-height: 700px;
  }
}

/* ABOUT PAGE*/

.about-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-section {
  margin-bottom: 8rem;
}

.about-section-description p{
  text-align: justify;
}