/* HOME PAGE */

.home-text {
  color: #d2b16e;
}

.home-text-justify {
  text-align: justify;
}

/* HOME IMAGE */

.home-hero {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-main-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 992px) and (min-width: 769px) {
  .home-main-image {
    width: 75%;
    height: 75%;
  }
}

/* HOME HERO */
/* HOME FEATURED */

.home-featured p,h6,h3{
  margin: 0px;
}

/* HOME MAIN */
/* HOME COLLECTION */

.home-collection a{
  display: block;
}

/* HOME PREORDER */

.home-preorder {
  display: inline-block;
  position: relative;
  padding: 50px 20px;
}

.home-preorder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/Home-Preorder.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25;
  z-index: -1;
  border-radius: inherit;
}

.home-preorder-button {
  background-color: #d2b16e;
  padding: 0.375rem 0.75rem;
}

/* LOGIN PAGE */

.login-left {
  background-color: #d2b16e;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.login-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .login-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .login-logo i {
    font-size: 1.5rem;
  }

  .login-logo h4 {
    font-size: 1.5rem;
  }
}

@media (min-height: 992px) {
  .login-card {
    min-height: 700px;
  }
}

/* REGISTER PAGE */

.register-left {
  background-color: #d2b16e;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.register-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.register-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .register-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .register-logo i {
    font-size: 1.5rem;
  }

  .register-logo h4 {
    font-size: 1.5rem;
  }
}

@media (min-height: 992px) {
  .register-card {
    min-height: 700px;
  }
}

/* ABOUT PAGE*/

.about-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-section {
  margin-bottom: 8rem;
}

.about-section-description p{
  text-align: justify;
}